.vscode/*
!.vscode/launch.json
.terraform
terraform.tfstate.backup
node_modules
cypress/integration/1-getting-started
cypress/integration/2-advanced-examples
cypress/videos
cypress/screenshots
cypress-combined-report.json
cypress/fixtures
cypress/support
cypress/plugins
main.yml
git-crypt-key
user_pubkey.gpg
.gitattributes


